body{
    margin: 0;
    padding: 0;
    font-family: 'Poppins';
    background-color: #F7F7F7;
}
/*Loader*/
.mainloader{
    width: 100%;
    height: 105vh;
    display: flex;
    justify-content: center;
    align-items: center;
    position: fixed;
    background-color: white;
    z-index: 1000;
    flex-direction: column;
}
.loaderContent{
    font-size: 26px;
    color: royalblue;
    font-weight: 600;
    transform: translateY(-50px);

}

    
.loader {
    display: block;
    --height-of-loader: 4px;
    --loader-color: #0071e2;
    width: 130px;
    height: var(--height-of-loader);
    border-radius: 30px;
    background-color: rgba(0,0,0,0.2);
    position: relative;
  }
  
  .loader::before {
    content: "";
    position: absolute;
    background: var(--loader-color);
    top: 0;
    left: 0;
    width: 0%;
    height: 100%;
    border-radius: 30px;
    animation: moving 1s ease-in-out infinite;
    ;
  }
  
  @keyframes moving {
    50% {
      width: 100%;
    }
  
    100% {
      width: 0;
      right: 0;
      left: unset;
    }
  }
/*Loader*/
.Headermain{
    width: 100%;
    height: 80px;
    display: flex;
    justify-content: center;
    align-items: center;
    position: fixed;
    z-index: 100;
    background-color: #f7f7f756;
    backdrop-filter: blur(5px);
}
.mainheaderlogo{
    height: 100%;
    width: 20%;
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 100;
}
.headerlinksdiv{
    height: 100%;
    width: 60%;
    display: flex;
    justify-content: center;
    align-items: center;
}
.headerbuttondiv{
    height: 100%;
    width: 20%;
    /* background-color: royalblue;    */
    display: flex;
    justify-content: center;
    align-items: center;
}
/*Header links design*/
.headerlink{
    margin-left: 10px;
    margin-right: 10px;
    height: 50px;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100px;
    font-size: 14px;
    padding-right: 10px;
    padding-left: 10px;
    border-radius: 10px;
    font-weight: 500;
}
.headerlink:hover{
    transition: 0.3s;
    background-color: rgb(121, 154, 255);
    color: white;
    /* background: linear-gradient(, rgb(48, 92, 226)); */
}
.mainheaderlogo{
    transform: translateX(20px);
    scale: 0.8;
}

/*Header button*/
.headerbutton{
    width: 180px;
    height: 60px;
    background-color: rgb(105, 141, 251);
    border-radius: 10px;
    display: flex;
    justify-content: center;
    align-items: center;
    font-weight: 600;
    color: white;
}
/*header mobile*/
.headerlinksdivmobile{
    display: none;
}
.headerbuttonmobile{
    display: none;
}
@media only screen and (max-width: 800px){
    .headerbutton{
        display: none;
    }
    .headerlink{
        display: none;
    }
    .headerlinksdivmobile{
        display: flex;
        justify-content: space-around;
        align-items: center;
        flex-direction: column;
        width: 90%;
        position: absolute;
        z-index: 90;
        height: 300px;
        background-color: white;
        transform: translateY(-100%);
        border-radius: 30px;
        box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
    }
    .headerlinkmobile:hover{
        background-color: royalblue;
        width: 70%;
        height: 50px;
        transition: 0.3s;
        border-radius: 10px;
        color: white;
        display: flex;
        justify-content: center;
        align-items: center;
    }
    .headerbuttonmobile{
        display: block;
        position: fixed;
        z-index: 100;
    }

}

/*page1*/
.page1{
    width: 100%;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #F7F7F7;
}
.page1back{
    width: 65%;
    z-index: 1;
}
.slogan{
    width: 30%;
    height: 600px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    z-index: 2;
}
.slogantext{
    color: grey;
    font-size: 26px;
}
.bluetext{
    color: royalblue;
    font-size: 64px;
    font-weight: 600;
}
.normaltext{
    color: black;
}
.sloganbutton{
    transform: translateY(20px);
    width: 180px;
    height: 60px;
    background-color: rgb(105, 141, 251);
    border-radius: 10px;
    display: flex;
    justify-content: center;
    align-items: center;
    font-weight: 600;
    color: white;
}

@media only screen and (max-width: 800px){
    
    
    .page1{
        width: 100%;
        height: 100vh;
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: column;
        background-color: #F7F7F7;
    }
    .sloganbutton{
        transform: translateY(40px);
        width: 150px;
        height: 45px;
        background-color: rgb(105, 141, 251);
        border-radius: 10px;
        display: flex;
        justify-content: center;
        align-items: center;
        font-weight: 600;
        color: white;
    }
    .page1back{
        width: 100%;
        z-index: 1;
        transform: translateY(-20%);
    }
    .slogan{
        width: 90%;
        display: flex;
        justify-content: space-around;
        align-items: center;
        flex-direction: column;
        z-index: 2;
        
    }
    .slogantext{
        color: grey;
        font-size: 18px;
        transform: translateY(-30px);
    }
    .bluetext{
        color: royalblue;
        font-size: 36px;
        font-weight: 600;
        transform: translateY();
    }
    .normaltext{
        color: black;
    }
    .slogandesc{
        color: grey;
        font-size: 18px;
        margin-top: 25px;
    }
    

}
/*Page1*/

/*Page2*/
.page2{
    width: 100%;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: white;
}
.page2backimage{
    width: 70%;
    height: 100%;
}
.page2back{
    width: 50%;
    height: 100%;
    background-image:url('assets/page2back.jpg') ;
    background-size: cover;
  
}

.page2content{
    width: 50%;
    height: 100%;
    background-color: white;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}
.page2head{
    font-size: 44px;
    color: royalblue;
    font-weight: 600;
}
.triptypeselectordiv{
    margin-top: 30px;
    margin-bottom: 30px;
    width: 300px;
    height: 80px;
    border-radius: 100px;
    background-color: rgb(233, 233, 233);
    display: flex;
    justify-content: center;
    align-items: center;
}
.onewaydiv{
    width: 47%;
    height: 80%;
    background-color: white;
    border-radius: 50px;
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
    font-weight: 600;
    color: royalblue;
}
.rounddiv{
    width: 47%;
    height: 80%;
    border-radius: 50px;
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
    font-weight: 600;
    color: royalblue;
}
.tripformdiv{
    width: 80%;
    height: 400px;
    background-color:rgb(208, 208, 208) ;
    border-radius: 40px;
}
@media only screen and (max-width: 800px){
    .page2{
        height: 120vh;
        flex-direction: column-reverse;

    }
    .page2back{
        width: 100%;
        height: 50%;
    }
 
    .page2content{
        width: 100%;
        height: 100vh;
        background-color: white;
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: column;
    }
    .page2head{
        margin-top: 20px;
        font-size: 36px;
        width: 80%;
        text-align: center;
        color: royalblue;
        font-weight: 600;
    }
    .triptypeselectordiv{
        margin-top: 30px;
        margin-bottom: 30px;
        width: 300px;
        height: 80px;
        border-radius: 100px;
        background-color: rgb(233, 233, 233);
        display: flex;
        justify-content: center;
        align-items: center;
    }
    .onewaydiv{
        width: 47%;
        height: 80%;
        background-color: white;
        border-radius: 50px;
        display: flex;
        justify-content: center;
        align-items: center;
        cursor: pointer;
        font-weight: 600;
        color: royalblue;
    }
    .rounddiv{
        width: 47%;
        height: 80%;
        border-radius: 50px;
        display: flex;
        justify-content: center;
        align-items: center;
        cursor: pointer;
        font-weight: 600;
        color: royalblue;
    }
    .tripformdiv{
        width: 80%;
        height: 400px;
        background-color:rgb(208, 208, 208) ;
        border-radius: 40px;
    }
}